*{
    box-sizing: border-boxs;
    padding: 0;
    margin:0;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.ul{
    display: flex;
    gap: 3rem;
}

.ul > a {
    list-style: none;
    text-decoration: none;

}

.button{
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: rgb(196, 138, 196);
    color:white;
}

.section{
    display: flex;
    justify-content: center;
    background-color:rgb(224, 107, 224);
    background-image: url("abc.jpeg");
    background-size: cover;
    height: 70vh;
}

.section  h1{
    color:black;
    font-size: 3rem;
}

.section >h3{
    color:black;
}

.section p{
    color: white;
    font-size:1.5rem ;
}

.ul > a li{
font-size: 2rem;
font-weight: 700;
}

.header >h1{
    margin-left: -30rem;
}

.section h3{
    color:red;
    font-size: 2rem;
}


.img{
    height:300px;
    width: 300px;
    border-radius: 50%;
    transition: all 2s ease-in-out;
}

.img:hover{
    transform: rotate(360deg);
    height:350px ;
    width:350px ;
    border-radius: 20px 60px 20px;
}

.ul > a :hover{
    background-color: rgb(155, 83, 155);
    color:white ;
    border-radius: 0.5rem;
}

.section1{
    position: absolute;
    left: 10rem;
    top: 13rem;
    font-size: 1.5rem;
}

.section2{
    position: absolute;
    left: 45rem;
    top: 10rem;
}

span{
    color: rgb(231, 55, 84);
    font-family: cursive;
}

.button1 > button {
    padding: 0.3rem;
    border-radius: 2rem;
    font-size:1.5rem ;
    background-color:rgb(219, 93, 93);
    color: white;
    padding:0.5rem;
}

.button1{
    padding-top: 2rem;
}

.container1{
    display: flex;
    justify-content: space-around;
}

.img1{
    height: 300px;
    width: 250px;
    border-radius: 1rem;
    transition: all 2s ease-in-out;
}
    

.img1:hover{
    transform: scale(height);
    height:350px ;
    border-radius: 20px 60px 20px;
}

.about{
    color:rgb(126, 35, 126) ;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    font-family: "sofia" sans-serif;
    text-decoration-color: rgb(105, 13, 105);
}

.info{
    line-height:1.5rem ;
    font-size: 1.2rem;
}

.cv{
    background-color: rgb(173, 116, 226);
    color: white;
    margin-top:2rem;
    padding: 0.5rem;
    border-radius:0.2rem ;
}

.skills-menu{
    display: flex  ;
    gap: 2rem;
    padding: 4.9rem;
}

.skills-menu > div{
    gap: 2rem;
    margin: 0.5rem;
    height: 350px;
    width: 250px;
    border-radius: 2rem;
    box-shadow: black 0px 3px 6px,black 0px 3px 6px;
    background-color: rgb(138, 39, 138);
    transition: all 1s ease;
}

.skills-menu > div:hover{
    height: 200px;
}

.skills-img{
    height: 200px;
    width: 250px;
    border-top-right-radius: 1.5rem;
}

.skills{
    color:rgb(122, 17, 122) ;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    font-family: "sofia" sans-serif;
    text-decoration-color: rgb(105, 13, 105);
}

.skills-menu > div p{
    color: white;
    padding: 0.1rem;
    font-family:sofia sans-serif ;
    font-size: 1.5rem;

}

.skills-menu > div p:hover{
    color: rgb(51, 3, 51);
}

.Services{
    color:rgb(179, 77, 179) ;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    font-family: "sofia" sans-serif;
    text-decoration-color: rgb(105, 13, 105);
}

.services-img{
    height: 200px;
    width: 250px;
}

.contact-section{
    background-color: black;
    border-top-right-radius:17rem;
    border-top-left-radius:17rem ;
    padding: 5rem;
    color: white;
    font-size:1.5rem ;
    text-align: center;
}